In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Pulling in the all star game list from csv file
allstar_file = "Resources/NBA_All_Star_Games.csv"
allstar_df = pd.read_csv(allstar_file)
allstar_df.head()

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,2016.0,Stephen Curry,G,6-3,190.0,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016.0,James Harden,SG,6-5,220.0,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016.0,Kevin Durant,SF,6-9,240.0,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016.0,Kawhi Leonard,F,6-7,230.0,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016.0,Anthony Davis,PF,6-11,253.0,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Changing the year data to fit seasons
allstar_df.loc[allstar_df.Year == 2016, 'Year'] = "2015 - 2016"
allstar_df.loc[allstar_df.Year == 2015, 'Year'] = "2014 - 2015"
allstar_df.loc[allstar_df.Year == 2014, 'Year'] = "2013 - 2014"
allstar_df.loc[allstar_df.Year == 2013, 'Year'] = "2012 - 2013"
allstar_df.loc[allstar_df.Year == 2012, 'Year'] = "2011 - 2012"
allstar_df.loc[allstar_df.Year == 2011, 'Year'] = "2010 - 2011"
allstar_df.loc[allstar_df.Year == 2010, 'Year'] = "2009 - 2010"
allstar_df.loc[allstar_df.Year == 2009, 'Year'] = "2008 - 2009"
allstar_df.loc[allstar_df.Year == 2008, 'Year'] = "2007 - 2008"
allstar_df.loc[allstar_df.Year == 2007, 'Year'] = "2006 - 2007"
allstar_df.loc[allstar_df.Year == 2006, 'Year'] = "2005 - 2006"
allstar_df.loc[allstar_df.Year == 2005, 'Year'] = "2004 - 2005"
allstar_df.loc[allstar_df.Year == 2004, 'Year'] = "2003 - 2004"
allstar_df.loc[allstar_df.Year == 2003, 'Year'] = "2002 - 2003"
allstar_df.loc[allstar_df.Year == 2002, 'Year'] = "2001 - 2002"
allstar_df.loc[allstar_df.Year == 2001, 'Year'] = "2000 - 2001"
allstar_df.loc[allstar_df.Year == 2000, 'Year'] = "1999 - 2000"
allstar_df.head()

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,2015 - 2016,Stephen Curry,G,6-3,190.0,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015 - 2016,James Harden,SG,6-5,220.0,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015 - 2016,Kevin Durant,SF,6-9,240.0,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015 - 2016,Kawhi Leonard,F,6-7,230.0,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015 - 2016,Anthony Davis,PF,6-11,253.0,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Adding a column for to id each row
allstar_df['id'] = allstar_df.index
allstar_df.head()

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,id
0,2015 - 2016,Stephen Curry,G,6-3,190.0,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2015 - 2016,James Harden,SG,6-5,220.0,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2015 - 2016,Kevin Durant,SF,6-9,240.0,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,2015 - 2016,Kawhi Leonard,F,6-7,230.0,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2015 - 2016,Anthony Davis,PF,6-11,253.0,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [5]:
# Renaming the columns and setting the index
allstar_df = allstar_df[["id", "Year", "Player"]]
allstar_df = allstar_df.rename(columns={"Year" : "season",
                                        "Player" : "player"})

allstar_df.set_index("id", inplace=True)
allstar_df.head()

         season         player
id
0   2015 - 2016  Stephen Curry
1   2015 - 2016   James Harden
2   2015 - 2016   Kevin Durant
3   2015 - 2016  Kawhi Leonard
4   2015 - 2016  Anthony Davis

In [6]:
# Pulling in the player stats by season from csv file
stats_file = "Resources/players_stats_by_season_full_details.csv"
stats_df = pd.read_csv(stats_file)
stats_df.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School
3,NBA,2019 - 2020,Regular_Season,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,...,1857,1994.0,Dec,"Dec 6, 1994",06-Nov,211.0,242.0,110.0,Greece / Nigeria,NaN
4,NBA,2019 - 2020,Regular_Season,Trae Young,ATL,60,2120.1,546,1249,205,...,1778,1998.0,Sep,"Sep 19, 1998",06-Feb,188.0,180.0,82.0,United States,Norman High School

In [7]:
# Adding a column for to id each row
stats_df['id'] = stats_df.index
stats_df.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school,id
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,1989.0,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School,0
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1990.0,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School,1
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1996.0,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School,2
3,NBA,2019 - 2020,Regular_Season,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,...,1994.0,Dec,"Dec 6, 1994",06-Nov,211.0,242.0,110.0,Greece / Nigeria,NaN,3
4,NBA,2019 - 2020,Regular_Season,Trae Young,ATL,60,2120.1,546,1249,205,...,1998.0,Sep,"Sep 19, 1998",06-Feb,188.0,180.0,82.0,United States,Norman High School,4

In [8]:
# Dropping playoff stats
drop_playoff = stats_df[ stats_df["Stage"] == "Playoffs" ].index
stats_df.drop(drop_playoff , inplace=True)

# Renaming the columns and setting the index
stats_df = stats_df[["id", "Season", "GP", "Player", "PTS", "REB", "AST", "STL", "BLK", "TOV"]]
stats_df = stats_df.rename(columns={"Season" : "season",
                                    "GP" : "games_played",
                                    "Player" : "player",
                                    "PTS" : "points",
                                    "REB" : "rebounds",
                                    "AST" : "assists",
                                    "STL" : "steals",
                                    "BLK" : "blocks",
                                    "TOV" : "turnovers"})
stats_df.set_index("id", inplace=True)
stats_df.head()

,season,games_played,player,points,rebounds,assists,steals,blocks,turnovers
id,,,,,,,,,
0,2019 - 2020,68,James Harden,2335,446,512,125,60,308
1,2019 - 2020,66,Damian Lillard,1978,284,530,70,22,194
2,2019 - 2020,70,Devin Booker,1863,297,456,49,18,264
3,2019 - 2020,63,Giannis Antetokounmpo,1857,856,354,61,66,230
4,2019 - 2020,60,Trae Young,1778,255,560,65,8,289

In [9]:
# Changed all the stats to reflect per games played
stats_df["points"] = round(stats_df["points"]/stats_df["games_played"], 2)
stats_df["rebounds"] = round(stats_df["rebounds"]/stats_df["games_played"], 2)
stats_df["assists"] = round(stats_df["assists"]/stats_df["games_played"], 2)
stats_df["steals"] = round(stats_df["steals"]/stats_df["games_played"], 2)
stats_df["blocks"] = round(stats_df["blocks"]/stats_df["games_played"], 2)
stats_df["turnovers"] = round(stats_df["turnovers"]/stats_df["games_played"], 2)
stats_df.head()

,season,games_played,player,points,rebounds,assists,steals,blocks,turnovers
id,,,,,,,,,
0,2019 - 2020,68,James Harden,34.34,6.56,7.53,1.84,0.88,4.53
1,2019 - 2020,66,Damian Lillard,29.97,4.30,8.03,1.06,0.33,2.94
2,2019 - 2020,70,Devin Booker,26.61,4.24,6.51,0.70,0.26,3.77
3,2019 - 2020,63,Giannis Antetokounmpo,29.48,13.59,5.62,0.97,1.05,3.65
4,2019 - 2020,60,Trae Young,29.63,4.25,9.33,1.08,0.13,4.82

In [10]:
connection_string = "postgres:Skm17277!@localhost:5432/NBA_db"
engine = create_engine(f'postgresql://{connection_string}')

In [11]:
engine.table_names()

['allstar', 'player_stats']

In [14]:
allstar_df.to_sql(name='allstar', con=engine, if_exists='append', index=True)

In [15]:
stats_df.to_sql(name='player_stats', con=engine, if_exists='append', index=True)